<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- v-model雙向綁定 -->
        Language:<br>
        <input type="checkbox" v-model="language" value="Java">Java<br>
        <input type="checkbox" v-model="language" value="Python">Python<br>
        <input type="checkbox" v-model="language" value="Node">Node<br>
        {{language.join(',')}} OK
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                language: []
            }
        })
        // 可在開發者模式下使用vm.language=['Java','Node']來改變畫面
    </script>
</body>

</html>